* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #999;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px
}


.App {
  text-align: center;
}

.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 1vmin);
  color: white;
}

.header {
  padding: 20px;
}
.app-container {
  min-width: 300px;
  width: 50%;
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 10px 10px 8px 10px #00000030;
}

.input-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 5px;


  .input {
    padding: 10px 20px;
    border-radius: 10px 0 0 10px;
    border: 2px solid goldenrod;
    height: 40px;
    flex-grow: 1;
  }

  .select-input {
    padding: 10px 20px;
    border: none;
    border-top: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod;
    font-size: 12px;
    height: 40px;
  }

  .button {
    padding: 10px 20px;
    border-radius: 0 10px 10px 0;
    border: 2px solid goldenrod;
    background-color: goldenrod;
    cursor: pointer;
    height: 40px;
    color: #fff;
  }
}
.checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.todo-list {
  background-color: #282c34;
  height: 60vh;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
}

.todo {
  width: 100%;
  border: 2px solid goldenrod;
  background-color: #333;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  transition: 0.5s;

  .todo-info {
    cursor: pointer;
    font-size: 14px;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .checkbox, todo-img {
    flex-shrink: 0;
  }
  .todo-name {
    flex-grow: 0;
  }
}
.progress-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.progress-bar {
  position: relative;
  width: 100%;
  height: 20px;
  padding: 5px;
  background-color: #282c34;
  border-radius: 25px;
  font-size: 12px;
  margin-bottom: 20px;
}

.progress-done {
  height: 100%;
  width: 10%;
  background-color: goldenrod;
  border-radius: 25px;
  transition: 0.5s;
}

.progress-text {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.todo-name__wrapper {
  display: flex;
  gap: 5px;
}

.todo-action {
  display: flex;
  gap: 5px;
}
.todo-list__controls {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}
.icon {
  cursor: pointer;
}

.file-uploader {
  display: flex;
  gap: 10px;
}

.low {
  border: 2px solid green;
}

.high {
  border: 2px solid red;
}
